/*------------- Whole Document---------------- */

@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700&display=swap');

/*------------- Navbar Formatting ---------------- */

.navbar {
    font-size: 18px;
    min-height: 48px;
}

.navbar-inverse {
    background-color: #0a1721;
}


body {
  /* add background image */
  background-image: url('https://images.unsplash.com/photo-1534143340226-6cbc7628dbe5?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1064&q=80');
  background-repeat: no-repeat;
  /* fixed background image */
  background-attachment: fixed;
  background-size: 100%;
  /* make background image transparent */
  background-blend-mode: lighten;
  background-color: rgba(255,255,255,0.1);
  /* color of font, and indent from edges of container */
  margin: 10px 15px 10.5px;
}
